@import '../../_variables' // Importamos las variables globales

header
  position: fixed // Fijamos el header en la parte superior
  top: 0
  left: 0
  width: 100% // Ocupará todo el ancho de la pantalla
  z-index: 1000 // Asegura que esté por encima de otros elementos
  background-color: $dropdown-bg // Asegura que mantenga el fondo blanco
  padding: 0.5rem 1rem
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) // Efecto de sombra para distinguirlo

  .container-fluid
    display: flex
    justify-content: space-between
    align-items: center
    position: relative

.search-bar
  position: absolute // Lo posicionamos de manera absoluta dentro del header
  left: 50%
  transform: translateX(-50%) // Lo centramos horizontalmente
  display: flex
  align-items: center
  width: 100%
  max-width: 400px

  input
    width: 100%
    padding: 10px 15px
    font-size: 1rem
    border: 1px solid $border-color
    border-radius: 25px
    outline: none
    transition: all 0.3s ease
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)

    &:focus
      border-color: $primary-color
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)

.right-section
  display: flex
  align-items: center
  gap: 1.5rem
  margin-right: 1rem
  flex-wrap: nowrap

  .cart-container
    display: flex
    align-items: center
    justify-content: center
    padding: 8px
    background-color: transparent

  .cart-button
    background-color: $yellow-color
    color: white
    border: none
    padding: 0.5rem 1rem
    border-radius: 4px
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    gap: 0.5rem
    min-width: 50px
    min-height: 40px

    svg
      width: 24px
      height: 24px

  .user-section
    display: flex
    align-items: center
    gap: 10px
    background-color: transparent
    padding: 0

    a
      background-color: $yellow-color
      color: black
      font-size: 1rem
      text-decoration: none
      padding: 8px 16px
      border-radius: 4px
      border: 1px solid $yellow-color
      cursor: pointer
      transition: background-color 0.3s, color 0.3s

      &:hover
        background-color: $primary-hover-color-button
        color: white

// Ajustar el margen superior del contenido para que no quede oculto detrás del header
main, .content
  margin-top: 80px // Ajusta esto según la altura del header
