@import '../../styles.sass'
@import '../../_variables' // Importamos las variables globales

.categoria-container
  text-align: center
  padding: 2rem

  // Títulos de las páginas
  h1, h2
    margin-bottom: 2rem

  .categories
    display: grid
    grid-template-columns: repeat(4, 1fr) // 4 columnas en pantallas grandes
    gap: 1.5rem
    justify-content: center

    // Pantallas entre 768px y 992px => 3 columnas
    @media (max-width: 992px)
      grid-template-columns: repeat(3, 1fr)

    // Pantallas entre 576px y 768px => 2 columnas
    @media (max-width: 768px)
      grid-template-columns: repeat(2, 1fr)

    // Pantallas menores a 576px => 1 columna
    @media (max-width: 576px)
      grid-template-columns: 1fr

  .category-card
    background-color: white
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    border: 1px solid $border-color
    border-radius: 8px
    padding: 1rem
    text-align: center
    // Usamos min-height en lugar de height para que la tarjeta crezca si hay más contenido
    min-height: 300px

    // Reducimos la altura mínima en tablets
    @media (max-width: 768px)
      min-height: 250px

    // En móviles podemos dejarla en auto para que crezca según el contenido
    @media (max-width: 576px)
      min-height: auto

    img
      max-width: 100%
      max-height: 150px
      object-fit: cover
      border-radius: 4px
      margin-bottom: 0.5rem

    h3
      margin: 0.5rem 0
      font-size: 1rem
      text-align: center

    button
      background-color: $yellow-color
      color: black
      padding: 0.5rem 1rem
      border: none
      border-radius: 4px
      cursor: pointer
      margin-top: auto // Empuja el botón hacia la parte inferior
      transition: background-color 0.3s

      &:hover
        background-color: darken($yellow-color, 10%)

.price-container
  display: flex
  justify-content: flex-end

.pagination
  display: flex
  justify-content: center
  align-items: center
  margin-top: 2rem

  button
    background-color: $yellow-color
    color: black
    padding: 0.5rem 1rem
    border: none
    border-radius: 4px
    cursor: pointer
    margin: 0 0.5rem
    transition: background-color 0.3s

    &:disabled
      background-color: lighten($yellow-color, 20%)
      cursor: not-allowed

    &:hover:not(:disabled)
      background-color: darken($yellow-color, 10%)

  span
    font-size: 1rem
    margin: 0 0.5rem
