@import '../../_variables' // Importamos las variables globales

.home-container
  text-align: center
  padding: 2rem

  // Títulos de las páginas
  h1, h2
    margin-bottom: 2rem

  .categories
    display: grid
    grid-template-columns: repeat(5, 1fr) // 5 elementos por fila
    gap: 1rem // Espacio reducido entre tarjetas
    justify-content: center

  .category-card
    background-color: #ffffff // Fondo blanco
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    border: 1px solid $border-color
    border-radius: 8px
    padding: 0.75rem // Padding reducido para menor tamaño
    text-align: center
    height: 120px // Altura reducida para que sean más pequeñas

    h3
      margin: 0.5rem 0
      font-size: 0.9rem // Tamaño de fuente reducido
      text-align: center

    button
      background-color: $yellow-color
      color: black
      padding: 0.5rem 0.75rem // Padding ligeramente reducido
      border: none
      border-radius: 4px
      cursor: pointer
      margin-top: auto // Empuja el botón hacia la parte inferior
      transition: background-color 0.3s

      &:hover
        background-color: darken($yellow-color, 10%)

  // Estilo para el botón "Ver más"
  .load-more
    text-align: center
    margin-top: 1rem

    button
      background-color: $yellow-color
      color: black
      padding: 0.5rem 1rem
      border: none
      border-radius: 4px
      cursor: pointer
      transition: background-color 0.3s

      &:hover
        background-color: darken($yellow-color, 10%)

  .pagination
    display: flex
    justify-content: center
    align-items: center
    margin-top: 2rem

    button
      background-color: $yellow-color
      color: black
      padding: 0.5rem 1rem
      border: none
      border-radius: 4px
      cursor: pointer
      margin: 0 0.5rem
      transition: background-color 0.3s

      &:disabled
        background-color: lighten($yellow-color, 20%)
        cursor: not-allowed

      &:hover:not(:disabled)
        background-color: darken($yellow-color, 10%)

    span
      font-size: 1rem
      margin: 0 0.5rem
