<div class="home-container">
  <h1>Familias</h1>
  <section class="categories" *ngIf="families && families.length > 0">
    <div class="category-card" 
         *ngFor="let fam of families | slice:(currentPage - 1) * pageSize : currentPage * pageSize">
      <h3>{{ fam.desfam }}</h3>

      <button (click)="goToArticles(fam.codfam)">Ver Artículos</button>
    </div>
  </section>
  <div class="pagination">
    <button *ngIf="currentPage > 1" (click)="previousPage()">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button *ngIf="currentPage < totalPages" (click)="nextPage()">Siguiente</button>
  </div>
</div>
